<!-- Modal Asignatura-->
<div class="modal fade" id="creacionA" tabindex="-1" aria-labelledby="creacionAsignatura" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="creacionAsignatura">Creador Asignaturas Muveet</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'Asignatura_crear' %}" method="post">
                    {% csrf_token %}
                    <label for="inputNameA">Nombre Asignatura</label>
                    <input type="text" id="inputNameA" class="form-control" name="nombre_asignatura"
                        placeholder="Ejemplo: Lenguaje">
                    <label for="select_cursos">Curso</label>
                    <select multiple="multiple" required class="form-control mt-2" name="curso_id" id="select_cursos">
                        {% for curso in Cursos %}
                        <option value="{{curso.Codigo_curso}}">{{curso}}</option>
                        {% endfor %}
                    </select>
                    <label for="select_paralelos">Paralelos disponibles </label>
                    <select multiple required class="form-control mt-2" name="paralelos_elegidos" id="select_paralelos">
                        {% for paralelo in Paralelos %}
                        <option value="{{paralelo.codigo_paralelo}}">{{paralelo}}</option>
                        {% endfor %}
                    </select>
                    <label for="select_semestre">Semestre</label>
                    <select class="form-control mt-2" name="semestre_elegido" id="select_semestre">
                        <option value="1">1er semestre</option>
                        <option value="2">2do semestre</option>
                    </select>
                    <button class="btn btn-success mt-3" type="submit">Crear</button>
                </form>
            </div>
        </div>
    </div>
</div>
