{% extends "home_muveet.html" %}
{% block pagina %}
<div class="row">
    <div class="card shadow mx-1">
        <form action="{% url 'generar_c' %}" method="post">
            <h1>Creación de curso</h1>
            <hr>
            <select class="form-control" name="numeracion">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
            <select class="form-control mt-3" name="nombre">
                <option value="BA" selected>Basica</option>
                <option value="ME">Media</option>
            </select>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary my-2">Crear</button>
        </form>
    </div>


</div>
{% endblock pagina %}