<!-- Modal creacion Paralelos -->
<div class="modal fade" id="creacionP" tabindex="-1" aria-labelledby="creacionParalelos" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="creacionParalelos">Creador de Paralelos Muveet</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include "Core/cursos/formularioparalelo.html" %}
            </div>
        </div>
    </div>
</div>

<!-- Modal creacion Cursos-->
<div class="modal fade" id="creacionC" tabindex="-1" aria-labelledby="creacionCursos" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="creacionCursos">Creador cursos Muveet</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include "Core/cursos/formulariocurso.html" %}
            </div>
        </div>
    </div>
</div>
