<form action="{% url 'Curso' %}" method="post">
    <label for="input_nivel_grado">Nivel</label>
    <input type="text" class="form-control" id="input_nivel_grado" name="nivel">
    <label for="select_tipo_educacion">Tipo educativo</label>
    <select class="form-control mt-3" name="tipo_educacion" id="select_tipo_educacion">
        <option value="Basico" selected>Basica</option>
        <option value="Medio">Media</option>
    </select>
    <label for="select_profesor">Profesores</label>
    <select name="profesor" class="form-control" id="select_profesor">
        {% for profesor in Profesores %}
          <option value="{{profesor.correo}}">{{profesor.username}}</option>
        {% endfor %}
    </select>
    {% csrf_token %}
    <button type="submit" class="btn btn-primary my-2">Crear</button>
</form>