<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Home {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'Core/css/estilos.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <div class="root">
        <header>
            <div class="navbar">
                <div class="logo"><a href="{% url 'home' %}">PRINCIPAL PAG.</a></div>
                <a href="{% url 'gestor' %}">CursosMont</a>
                <a href="{% url 'Asignatura' %}">CursosRenato</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="action-btn">Logout</a>
                {% endif %}
            </div>
        </header>
    </div> 

    <main>

        {% block content %}{% endblock %}

    </main>
</body>
</html>