<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/muvetusm/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/muvetusm/css/estilos.css">
    <title>usuario img</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">               
            <a class="navbar-brand" href="#"> Aquí iría el logo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Docencia</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="fila1" class="row">
        <div id="columna1" class="col">
            <h4>Crear cuenta</h4>
            <form>

                <h6 class="registro">Correo</h6>
                <input type="email" name="miemail" id="miemail">

                <h6 class="registro">Contraseña</h6>
                <input type="password" id="Contraseña" name="Contraseña">
                
            </form>
            <a id="btnBack" href="../../templates/Core/create_user.html" class="btn btn-primary">Volver</a>
            <a id="botonSgte" class="btn btn-primary">Siguiente</a>
            
        </div>

    <script src="js/bootstrap.js"></script>

</body>
</html>