{% extends "Core/base.html" %}

{% block content %}
<body>

    <div id="fila1" class="row">
        <div id="columna1" class="col">
            <h4>Crear cuenta</h4>
            <form>
                <h6 class="registro">Nombre</h6>
                <input type="text" id="Nombre" name="Nombre">

                <h6 class="registro">Apellido Paterno</h6>
                <input type="text" id="ApellidoPaterno" name="Apellido">

                <h6 class="registro">Apellido Materno</h6>
                <input type="text" id="ApellidoMaterno" name="Apellido">

                <h6 class="registro">Fecha de Nacimiento</h6>
                <input type="date" id="date" name="date" >
                

                
            </form>
            <a id="botonSgte" href="../../templates/Core/create_user2.html" class="btn btn-primary">Siguiente</a>


        </div>
        <!--<div id="columna2" class="col">
            <h1>hola</h1>
        </div>
                        <h6>Nombre Usuario</h6>
                <input type="text" id="usuario" name="usuario">

-->

    </div>

    <script src="js/bootstrap.js"></script>

</body>
{% endblock %}