<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/muvetusm/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/muvetusm/css/estilos.css">
    <title>usuario</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">               
            <a class="navbar-brand" href="#"> Aquí iría el logo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Docencia</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>
    

    <div id="fila1" class="row">
        <div id="columna1" class="col">
            <h4>Crear cuenta</h4>
            <form>
                <h6 class="registro">Nombre</h6>
                <input type="text" id="Nombre" name="Nombre">

                <h6 class="registro">Apellido Paterno</h6>
                <input type="text" id="ApellidoPaterno" name="Apellido">

                <h6 class="registro">Apellido Materno</h6>
                <input type="text" id="ApellidoMaterno" name="Apellido">

                <h6 class="registro">Fecha de Nacimiento</h6>
                <input type="date" id="date" name="date" >
                

                
            </form>
            <a id="botonSgte" href="../../templates/Core/create_user2.html" class="btn btn-primary">Siguiente</a>


        </div>
        <!--<div id="columna2" class="col">
            <h1>hola</h1>
        </div>
                        <h6>Nombre Usuario</h6>
                <input type="text" id="usuario" name="usuario">

-->

    </div>

    <script src="js/bootstrap.js"></script>

</body>
</html>