{% extends "Core/base.html" %}

{% block title %}{% endblock %}

{% block botones %}
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="action-btn">Logout</a>
    {% else %}
        <a href="{% url 'login' %}" class="action-btn">Iniciar Sesion</a>
        <a href="{% url 'registrar' %}" class="action-btn">Registrarse</a>
    {% endif %}
{% endblock %}

{% block content %}
<div>
    <div class="gadient-background">
        <div id="columna" class="col-6">
            <div class="main-container limit-width">
                <div id="container-row" class="container">
                    <div class="info">
                        <img class="marca" src="img/7274165.jpg" alt="">
    
                        <div class="text-wrapper" style="background-color: #ffffff;">
                            <div class="text-parent">
                                <div class="text-h">
                                    <h1>Bienvenido</h1>
                                </div>
                                <div class="text-p">
                                    <h2>fiestas a la chilena</h2>
                                </div>
                                    
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>

        </div>
            
        <div id="otra_columna" class="col-6">
            <section id="hero">
                <h1>El Home</h1>
                <p>Lorem ipsum dolor sit, amet consectetur <br> adipisicing elit. Eum, ut.</p>
            </section>
        </div>

    </div>
</div> 




<div class="backgroundwrap">
    <div class="Footer container limit-width">
        <div class="contactText">
            <p>
                @ Colegio tanto tanto
                <br>
                <br>
                +56 9 8765 4321 - <a class="external" href="mail: colegio@mail.cl" target="_blank"> colegio@mail.cl</a>
                <br>
                <br>
                Sitio web administrado por la 
                <a class="external" href="alguna direccion" target="_blank"> Direccion de educacion a distancia</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}